<container class="footer">
  <row class="footer-header">
    <columns class="footer-logo" small="6" large="6">
      <img src="https://i.imgur.com/VNGguhm.png">
    </columns>
    <columns class="footer-right" small="6" large="6">
      <img src="https://i.imgur.com/iYJKR2q.png">
    </columns>
  </row>
  <row class="footer-paragraph">
    <columns>
      <p>
This email was sent to <u>test@gmail.com</u> because you joined Blazin' Rewards® in one of our restaurants or online. If you would like to be removed from receiving Blazin' Rewards® promotional communications, you can click the unsubscribe link on this email and you will be removed from our list within 10 business days. Clicking <u>Unsubscribe</u> will not otherwise affect your Blazin' Rewards® account. You can also modify your account settings by logging in at <u>www.buffalowildwings.com</u>.</p>
    </columns>
  </row>
  <row class="footer-end">
    <columns>
      <a>Copyright ©2021</a><br>
      <a>Buffalo Wild Wings, Inc.</a><br>
      <a>Three Glenlake Parkway NE</a><br>
      <a>Atlanta, GA 30328</a>
      <br><br>
      <a><u>Privacy Policy</u></a>
    </columns>
  </row>
</container>